<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage{% endblock title %}</title>

    <link id="tw-css" rel="stylesheet" href="{{ url_for('static', path='css/styles.min.css') }}">
    <link id="fb-css" rel="stylesheet" href="{{ url_for('static', path='css/flowbite.min.css') }}" />

    <script id="theme-toggle-js" src="{{ url_for('static', path='js/theme-toggle.js') }}" defer></script>
    <script id="htmx-js" src="{{ url_for('static', path='js/htmx.min.js') }}" defer></script>
    <script id="alpine-js" src="{{ url_for('static', path='js/alpine.min.js') }}" defer></script>

</head>

<body class="dark:bg-gray-800">
    {% include './components/navbar.html' %}
    <div class="container p-4 h-full">
        {% block content %}
        {% endblock content %}
    </div>

    <script id="flowbite-js" src="{{ url_for('static', path='js/flowbite.min.js') }}"></script>
</body>

</html>
